%h2 註冊
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .row
    = f.label :email
    %br/
    = f.email_field :email, :size => 20
  .row
    = f.label :password
    %br/
    = f.password_field :password, :size => 20
  .row
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, :size => 20
  .row= f.submit "註冊"
= render :partial => "devise/shared/links"

