%table{:width => '100%', :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td{:align => 'center'}
      %hr{:style => 'margin: 50px 0; width: 820px'}
      %table{:width => '820', :style => 'font-size: 13.5px'}
        %tr
          %td{:style => 'font-size: 50px; padding-left: 20px'}
            A chirpy birthday
          %td{:style => 'text-align: right; vertical-align: bottom; padding-right: 15px'}
            = link_to "看更多生日卡", "#"
            　
            = link_to image_tag("http://cactis.airfont.com/assets/images/filenames/1774/original/ico-facebook-small.gif") + " 與好友分享喜悅", '#'

      %table{:width => '820', :height => '350', :border => "0", :cellpadding => "0", :cellspacing => "0", :style => 'margin: 0 auto; font-size: 13.5px'}
        %tr
          %td{:colspan => 4}
            = image_tag "http://cactis.airfont.com/assets/images/filenames/1780/original/bg-slide-box_top.png"
        %tr
          %td
            = image_tag "http://cactis.airfont.com/assets/images/filenames/1783/original/bg-slide-box_left.png"
          %td{:width => '500'}
            = link_to image_tag("http://cactis.airfont.com/assets/images/filenames/1779/original/img-22_with_player.png"), '#'
          %td{:width => 340}
            %table
              %tr
                %td{:colspan => 2}
                  = image_tag "http://cactis.airfont.com/assets/images/filenames/1786/original/dear.png", :style => 'martin-top: 10px'
                  楊先生,
              %tr
                %td{:rowspan => 2, :width => 80}
                %td{:height => 200}
                  在這個特別的日子
                  %br
                  我願以這張生日卡
                  %br
                  獻上最真誠的祝福
                  %br
                  也期望您的每一天
                  %br
                  都能平安 順心 美滿
                  %br
                  真心祝福您
                  %br
                  生日快樂!
              %tr
                %td
                  大紀元時報 業務 Sam 敬上
          %td
            = image_tag "http://cactis.airfont.com/assets/images/filenames/1784/original/bg-slide-box_right.png"
        %tr
          %td{:colspan => 4}
            = image_tag "http://cactis.airfont.com/assets/images/filenames/1781/original/bg-slide-box_bottom.png"

      %hr{:style => 'margin: 50px 0; width: 820px'}

      %table{:width => '820', :style => 'margin: 0 auto; text-align: center'}
        %tr
          %td{:style => 'color: #1967B1; text-align: right; font-weight: bold; padding-left: 50px'}
            此張卡片寄送服務 by
          %td{:style => 'padding-bottom: 10px'}
            = link_to image_tag("http://cactis.airfont.com/assets/images/filenames/1776/original/sub-logo.gif")
          %td
            = link_to image_tag("http://cactis.airfont.com/assets/images/filenames/1785/original/btn-blue_with_text.png")
        %tr
          %td{:colspan => 3}
            = link_to image_tag("http://cactis.airfont.com/assets/images/filenames/1778/original/img-ad-03.jpg")
