%h2 登入

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    = f.label :email
    %br/
    = f.email_field :email, :size => 20
  .row
    = f.label :password
    %br/
    = f.password_field :password, :size => 20
  - if devise_mapping.rememberable?
    .row
      = f.check_box :remember_me, :checked => 'checked'
      = f.label :remember_me, "記住"
  .row= f.submit "登入", :class => 'big button'
= render :partial => "devise/shared/links"

