!!! 5
%html{:style => @tag.background.present? ? "background: url(#{@tag.background})" : ''}
  %head
    -# %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    -# %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=8"}
    %title
      = title :site_name => $APPNAME

    = stylesheet_link_tag "application"
    - if File.exists?("#{Rails.root}/app/assets/stylesheets/#{controller_name}.css.sass")
      = stylesheet_link_tag controller_name
    - if File.exists?("#{Rails.root}/app/assets/stylesheets/#{controller_name}_#{action_name}.css.sass")
      = stylesheet_link_tag "#{controller_name}_#{action_name}"

    = javascript_include_tag "application"
    - if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js.coffee")
      = javascript_include_tag controller_name
    - if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}_#{action_name}.js.coffee")
      = javascript_include_tag "#{controller_name}_#{action_name}"

    = javascript_include_tag "#{APP[:url]}:9292/api/faye.js"


    / [if lt IE 8]
      = stylesheet_link_tag "ie", :media => "screen, projection"

    -# unless development?
    %link{:href => 'http://fonts.googleapis.com/css?family=Adamina|Andika|Antic|Architects+Daughter|Cabin|Cabin+Sketch:700|Comfortaa|Coustard|Delius+Swash+Caps|Didact+Gothic|Gloria+Hallelujah|Hammersmith+One|Josefin+Sans:400,700|Julee|Michroma|Monoton|Montez|Numans|Nunito|Patrick+Hand|Philosopher|Play|Prociono|Rosario|Schoolbell|Short+Stack|Snippet|Sorts+Mill+Goudy|Ubuntu|Varela+Round', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/assets/favorite-icon.png', :rel => 'shortcut icon'}

    = include_gon

    = csrf_meta_tag
  %body{:style => current_user.styles}
    #header
      = render :partial => "/layouts/header"
    #wrapper.clearfix
      #content.clearfix
        = yield
    #footer.clearfix
      = render :partial => "/layouts/footer"
